*
!.env.development
!.env.production
!.eslintrc.json
!.npmrc
!.prettierrc
!bun.lock
!docker/
!drawink-app/
!json-server/
!websocket-server/
!package.json
!public/
!packages/
!scripts/
!tsconfig.json

# keep (sub)sub directories at the end to exclude from explicit included
# e.g. ./packages/drawink/{dist,node_modules}
**/build
**/dist
**/node_modules
