services:
  drawink:
    build:
      context: .
      args:
        - NODE_ENV=development
    container_name: drawink
    ports:
      - "3000:80" # Frontend (nginx)
      - "3001:3001" # JSON Backend API
    restart: on-failure
    stdin_open: true
    healthcheck:
      disable: true
    environment:
      - NODE_ENV=development
      - PORT=3001
    volumes:
      - ./:/opt/app:delegated
      - ./package.json:/opt/app/package.json
      - ./bun.lock:/opt/app/bun.lock
      - notused:/opt/app/node_modules

volumes:
  notused:
