.drawink {
  .DrawinkLogo {
    --logo-icon--mobile: 1rem;
    --logo-text--mobile: 0.75rem;

    --logo-icon--xs: 2rem;
    --logo-text--xs: 1.5rem;

    --logo-icon--small: 2.5rem;
    --logo-text--small: 1.75rem;

    --logo-icon--normal: 3rem;
    --logo-text--normal: 2.2rem;

    --logo-icon--large: 90px;
    --logo-text--large: 65px;

    display: flex;
    align-items: center;

    .DrawinkLogo-icon,
    .DrawinkLogo-text {
      flex: 0 0 auto;
      display: flex;
      align-items: center;
    }

    .DrawinkLogo-icon {
      width: auto;

      .DrawinkLogo-icon-img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }

      // Light theme: show light logo, hide dark logo
      .DrawinkLogo-icon-img--light {
        display: block;
      }

      .DrawinkLogo-icon-img--dark {
        display: none;
      }
    }

    .DrawinkLogo-text {
      margin-left: 0.75rem;
      width: auto;

      .DrawinkLogo-text-img {
        height: 100%;
        width: auto;
        object-fit: contain;
      }

      // Light theme: show light text logo, hide dark text logo
      .DrawinkLogo-text-img--light {
        display: block;
      }

      .DrawinkLogo-text-img--dark {
        display: none;
      }
    }

    &.is-mobile {
      .DrawinkLogo-icon {
        height: var(--logo-icon--mobile);
      }

      .DrawinkLogo-text {
        height: var(--logo-text--mobile);
        margin-left: 0.5rem;
      }
    }

    &.is-xs {
      .DrawinkLogo-icon {
        height: var(--logo-icon--xs);
      }

      .DrawinkLogo-text {
        height: var(--logo-text--xs);
      }
    }

    &.is-small {
      .DrawinkLogo-icon {
        height: var(--logo-icon--small);
      }

      .DrawinkLogo-text {
        height: var(--logo-text--small);
      }
    }

    &.is-normal {
      .DrawinkLogo-icon {
        height: var(--logo-icon--normal);
      }

      .DrawinkLogo-text {
        height: var(--logo-text--normal);
      }
    }

    &.is-large {
      .DrawinkLogo-icon {
        height: var(--logo-icon--large);
      }

      .DrawinkLogo-text {
        height: var(--logo-text--large);
      }
    }
  }

  // Dark theme: swap logo visibility
  &.theme--dark {
    .DrawinkLogo {
      .DrawinkLogo-icon {

        // Dark theme: hide light logo, show dark logo
        .DrawinkLogo-icon-img--light {
          display: none;
        }

        .DrawinkLogo-icon-img--dark {
          display: block;
        }
      }

      .DrawinkLogo-text {

        // Dark theme: hide light text logo, show dark text logo
        .DrawinkLogo-text-img--light {
          display: none;
        }

        .DrawinkLogo-text-img--dark {
          display: block;
        }
      }
    }
  }
}